<% include partials/head %>

<body> 

        <div class="container">
            <div class="stats">
                 <a id="loginB" href="/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Login</a>
                 <a id="signupB" href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
                <a id="twitterB" href="/auth/twitter" class="btn btn-default"><span class="fa fa-twitter"></span> Twitter</a>
                <a id="googleB" href="/auth/google" class="btn btn-default"><span class="fa fa-google-plus"></span> Google</a> 
                <a id="logoutB" href="/logout" class="btn btn-default"><span class="fa fa-user"></span> Logout</a>
            </div>
            
    </div>
</body>
</html>