<% include partials/head %>

<body>

<div class="container">
    
    
 <div class="card">
        <div class="card-header" data-background-color="turquoise">
                        <h2 class="lsh2"> Login</h2>
         </div>
                  
            <div class="card-content">
                <% if (message != null) { %>
        	    <div>
                 <p id="noResultsFound"><%= message %>
                </div>
            <% } %>
                     <form action="/login" method="post">
          <div class="form-group">
              <label class="category" id="email-label">Email:</label>
              <input type="text" class="form-control login-control" name="email" maxlength="50">
          </div>
          <div class="form-group">
            <label class="category" id="password-label">Password:</label>
            <input type="password" class="form-control password-control" name="password" maxlength="20"/>
          </div>
          <div>
            <input type="submit" id="submitLogin" class="form-control btn-default submitPoll submitLogin" value="Login" />
          </div>
        </form>

        </div>
     
     
         <div class="card-footer card-footer-main">
            <div class="stats">
                 
                 <a id="signupB" href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
                <a id="twitterB" href="/auth/twitter" class="btn btn-default"><span class="fa fa-twitter"></span> Twitter</a>
                <a id="googleB" href="/auth/google" class="btn btn-default"><span class="fa fa-google-plus"></span> Google</a> 
                <a id="logoutB" href="/logout" class="btn btn-default"><span class="fa fa-user"></span> Logout</a>
            </div>
            </div>    
        
      
     
     
     
     
    </div>



  
    </div>
  </body>
</html>
